<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </configSections>
    <microsoft.web.services3>
        <messaging>
            <maxMessageLength value="51200"/>
            <mtom clientMode="On"/>
        </messaging>
    </microsoft.web.services3>
    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <appSettings>
    <!-- Values in appSettings section can be modified to control application behavior:
         CSVSeparatorInAscii = ASCII code of item separator in CSV file
         ItemCoTitlePropertyName = property name for Item and Change Order title
         ItemCoDescriptionPropertyName = property name for Item and Change Order description
         ItemUnitsPropertyName = property name for Item units property
         UseExplorerUtil = if false then standard WebService API is used for property update. WebService API is faster
           but doesn't handle mapped properties. ExplorerUtil can handle mapped properties as well.
    -->
        <add key="CSVSeparatorInAscii" value="44"/>
        <add key="ItemCoTitlePropertyName" value="Title (Item,CO)"/>
        <add key="ItemCoDescriptionPropertyName" value="Description (Item,CO)"/>
        <add key="ItemUnitsPropertyName" value="Units"/>
        <add key="UseExplorerUtil" value="false"/>
    </appSettings>
</configuration>
